.page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

.loginPage {
    top: -8.5rem ;
}

.registerPage {
    top: -3rem;
}

.card {
    padding: 2rem;
    width: 30rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}