.chatWindow {
    height: 25rem;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.chatInputContainer {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.chatTab,
.editorTab {
    margin: 1rem 0 .5rem 0;
}

.chatTabContainer {
    display: flex;
    gap: 2rem;
}

.chatHistory {
    width: 14rem;
    height: 100%;
    /*border: 3px solid black;*/
    overflow-x: hidden;
}

.chatHistoryItem {
    white-space: nowrap;
    padding: 0.5rem 1rem;
    transition: all 0.25s ease-in-out;
}

.chatHistoryItem:hover {
    font-weight: bold;
    cursor: pointer;
    background: #eee;
    border-radius: 0.5rem;
}

.chatWithInput {
    width: 100%;
    /*border: 3px solid red;*/
}

.editorTab {
    position: relative !important;
}

.generatedQuery {
    margin: 0 0 1rem 0;
}

.executeButton {
    position: absolute !important;
    top: 0;
    right: 0.5rem;
}