name: Build backend

on:
  workflow_call:
    inputs:
      push_docker:
        required: false
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ hashFiles('backend/**.gradle*', 'backend/**/gradle-wrapper.properties') }}

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Build backend
        working-directory: backend
        run: ./gradlew build

      - name: Login to Docker Hub
        if: inputs.push_docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        if: inputs.push_docker
        uses: docker/setup-buildx-action@v3
        with:
          name: backend-builder

      - name: Build & push Docker image
        if: inputs.push_docker
        working-directory: backend
        run: ./gradlew dockerBuildBackend