.databaseCard {
    margin: 1rem 0;
}

.databaseCardFirstRow {
    display: flex;
    gap: 1rem;
    margin: .5rem 0;
}

.dialogButtonsContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.formInputSecondRow {
    margin-top: 0.75rem;
}

.formRow {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 400px) {
    .databaseCardFirstRow {
        flex-direction: column;
    }
}