spring:
  datasource:
    url: "jdbc:postgresql://${NOQL_DB_HOST}:${NOQL_DB_PORT}/${NOQL_DB_NAME}"
    username: "${NOQL_DB_USERNAME}"
    password: "${NOQL_DB_PASSWORD}"
    name: "${NOQL_DB_NAME}"
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

app:
  settings:
    pagination:
      maxPageSize: "${PAGINATION_MAX_PAGE_SIZE:50}"
      defaultPageSize: "${PAGINATION_DEFAULT_PAGE_SIZE:10}"
    translationRetries: "${TRANSLATION_RETRIES:3}"
    plotServiceContainerName: "${PLOT_SERVICE_CONTAINER_NAME:plot-service}"
    defaultUserQueryLimit: "${DEFAULT_USER_QUERY_LIMIT:0}"
  security:
    jwt:
      secretKey: "${JWT_SECRET:secret}"
      expiration: "${JWT_EXPIRATION:365160}"
      refreshTokenExpiration: "${JWT_REFRESH_EXPIRATION:604800}"
    dataEncryptionKey: "${DATA_ENCRYPTION_KEY:YWhvamFob2phaG9qYWhvamFob2phaG9qYWhvamFob2o=}"
  externalServices:
    openAiApi:
      url: "${OPEN_AI_API_URL}"
      apiKey: "${OPEN_AI_API_KEY}"
    geminiApi:
      url: "${GEMINI_API_URL}"
      apiKey: "${GEMINI_API_KEY}"
    llamaApi:
      url: "${LLAMA_API_URL}"
      apiKey: "${LLAMA_API_KEY}"
    claudeApi:
      url: "${CLAUDE_API_URL}"
      apiKey: "${CLAUDE_API_KEY}"
      anthropicVersion: "${ANTHROPIC_VERSION}"
  config:
    workingDirectory: ${workingDirectory:.}
