name: Backend pipeline

on:
  push:
    branches-ignore:
      - main
      - master
  workflow_dispatch:
    inputs:
      push_docker:
        description: 'Push Docker image'
        required: false
        default: false
        type: boolean

jobs:
  validate-backend:
    uses: janbabak/NoQL/.github/workflows/backend-validate.yaml@main

  test-backend:
    needs: validate-backend
    if: |
      needs.validate-backend.outputs.backend_changed == 'true' ||
      github.event_name == 'workflow_dispatch'
    uses: janbabak/NoQL/.github/workflows/backend-test.yaml@main
    with:
      triggered_by_merge: false

  build-backend:
    needs: validate-backend
    if: |
      needs.validate-backend.outputs.backend_changed == 'true' ||
      github.event_name == 'workflow_dispatch'
    uses: janbabak/NoQL/.github/workflows/backend-build.yaml@main
    with:
      push_docker: ${{ github.event.inputs.push_docker || false }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}