name: Backend

permissions:
  contents: read
  id-token: write

on:
  push:
    branches-ignore:
      - main
      - master
  workflow_dispatch:

jobs:
  call_test:
    uses: ./.github/workflows/backend/backend-reusable-test.yml