name: Build backend

on:
  push:
    branches-ignore:
      - main
      - master
  workflow_dispatch:

jobs:
  validate:
    uses: janbabak/NoQL/.github/workflows/backend/backend-validate-version.yml@main
    id: validate

  build:
    needs: validate
    if: |
      needs.validate.outputs.backend_changed == 'true' ||
      github.event_name == 'workflow_dispatch'
    uses: janbabak/NoQL/.github/workflows/backend/backend-build.yml@main
    with:
      push_docker: ${{ github.event_name == 'workflow_dispatch' }}