name: Validate backend version

on:
  workflow_call:
    outputs:
      backend_changed:
        description: 'True if backend code has changed on this branch.'
        value: ${{ jobs.validate.outputs.backend_changed }}

jobs:
  validate:
    runs-on: ubuntu-latest
    outputs:
      backend_changed: ${{ steps.backend_changes.outputs.changed }}
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Fetch main branch
        run: git fetch origin main

      # If backend changes aren't detected, don't validate backend version increase, ignores plotService.Dockerfile
      - name: Detect backend changes
        id: backend_changes
        run: |
          CHANGED=false
          if git diff --name-only origin/main ${{ github.sha }} \
             | grep '^backend/' \
             | grep -v '^backend/docker/plotService.Dockerfile$' \
             | grep -q .; then
            CHANGED=true
          fi
          echo "changed=$CHANGED" >> $GITHUB_OUTPUT

      - name: Get current backend version
        if: steps.backend_changes.outputs.changed == 'true'
        id: pr_version
        run: |
          PR_VERSION=$(grep '^version' backend/build.gradle \
            | awk -F= '{gsub(/[ '\'',]/,"",$2); print $2}')
          echo "PR_VERSION=$PR_VERSION" >> $GITHUB_OUTPUT

      - name: Get main backend version
        if: steps.backend_changes.outputs.changed == 'true'
        id: main_version
        run: |
          MAIN_VERSION=$(git show origin/main:backend/build.gradle \
            | grep '^version' \
            | awk -F= '{gsub(/[ '\'',]/,"",$2); print $2}')
          echo "MAIN_VERSION=$MAIN_VERSION" >> $GITHUB_OUTPUT

      - name: Check semantic version increment
        if: steps.backend_changes.outputs.changed == 'true'
        run: |
          ./ci/scripts/check-semantic-versioning.sh \
            "${{ steps.pr_version.outputs.PR_VERSION }}" \
            "${{ steps.main_version.outputs.MAIN_VERSION }}"