name: Backend

permissions:
  contents: read
  id-token: write

on:
  push:
    branches-ignore:
      - main
      - master
  workflow_dispatch:

jobs:
  local:
    runs-on: ubuntu-latest
    steps:
      - name: ahoj
        run: echo "runnnnnn"

  call_test:
    uses: janbabak/NoQL/.github/workflows/backend/backend-reusable-test.yml@${{ github.ref_name }}