name: Backend

on:
  push:
    branches-ignore:
      - main
      - master
  workflow_dispatch:

jobs:
  call_test:
    uses: ./.github/workflows/backend/backend-reusable-test.yml




#jobs:
#  validate:
#    uses: ./.github/workflows/backend/backend-validate-version.yml
#    id: validate

#  build:
#    needs: validate
#    if: |
#      needs.validate.outputs.backend_changed == 'true' ||
#      github.event_name == 'workflow_dispatch'
#    uses: ./.github/workflows/backend/backend-build.yml
#    with:
#      push_docker: ${{ github.event_name == 'workflow_dispatch' }}