name: Backend pipeline

on:
  push:
    branches-ignore:
      - main
      - master
  workflow_dispatch:

jobs:
  validate-backend:
    uses: janbabak/NoQL/.github/workflows/backend-validate.yaml@main

  build-backend:
    needs: validate-backend
    if: |
      needs.validate-backend.outputs.backend_changed == 'true' ||
      github.event_name == 'workflow_dispatch'
    uses: janbabak/NoQL/.github/workflows/backend-build.yaml@main
    with:
      push_docker: ${{ github.event_name == 'workflow_dispatch' }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}