name: Backend

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
      - closed
    branches:
        - main
  workflow_dispatch:
    inputs:
      push_docker:
        description: 'True if docker images should be built and pushed to Dockerhub'
        required: false
        default: false
        type: boolean

jobs:
  validate:
    uses: janbabak/NoQL/.github/workflows/backend-validate.yaml@main
    with:
      validate_pr: ${{ github.event_name == 'pull_request' || false }}

  test:
    needs: validate
    if: |
      needs.validate.outputs.backend_changed == 'true' ||
      github.event_name == 'workflow_dispatch'
    uses: janbabak/NoQL/.github/workflows/backend-test.yaml@main
    with:
      triggered_by_merge: ${{ github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged }}
    secrets:
      GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}

  build:
    needs: test
    uses: janbabak/NoQL/.github/workflows/backend-build.yaml@main
    with:
      push_docker: ${{ github.event_name == 'workflow_dispatch' && fromJSON(github.event.inputs.push_docker) || false }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}