name: Build frontend

on:
  push:
    branches-ignore:
      - main
      - master
  workflow_dispatch:

jobs:
  validate-frontend-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Fetch main branch
        run: git fetch origin main

      # If frontend changes aren't detected, don't validate frontend version increase
      - name: Detect backend changes
        id: frontend_changes
        run: |
          if git diff --name-only origin/main ${{ github.sha }} | grep -q '^frontend/'; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi

      - name: Get current package.json version
        if: steps.frontend_changes.outputs.changed == 'true'
        id: pr_version
        run: echo "PR_VERSION=$(jq -r '.version' frontend/NoQL/package.json)" >> $GITHUB_OUTPUT

      - name: Get main package.json version
        if: steps.frontend_changes.outputs.changed == 'true'
        id: main_version
        run: |
          git show origin/main:frontend/NoQL/package.json > main_package.json
          MAIN_VERSION=$(jq -r '.version' main_package.json)
          echo "MAIN_VERSION=$MAIN_VERSION" >> $GITHUB_OUTPUT

      - name: Check semantic version increment
        if: steps.frontend_changes.outputs.changed == 'true'
        run: |
          ./ci/scripts/check-semantic-versioning.sh \
            "${{ steps.pr_version.outputs.PR_VERSION }}" \
            "${{ steps.main_version.outputs.MAIN_VERSION }}"

  build-frontend:
    needs: validate-frontend-version
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        working-directory: frontend/NoQL
        run: npm ci

      - name: Build frontend
        working-directory: frontend/NoQL
        run: npm run build

      - name: Login to Docker Hub
        if: github.event_name == 'workflow_dispatch'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        if: github.event_name == 'workflow_dispatch'
        uses: docker/setup-buildx-action@v3
        with:
          name: frontend-builder

      - name: Build & push Docker image
        if: github.event_name == 'workflow_dispatch'
        working-directory: frontend/NoQL
        run: npm run dockerPushFrontend