name: Build backend

on:
  push:
    branches-ignore:
      - main
      - master
    paths:
      - 'backend/**'
  workflow_dispatch:

jobs:
  validate-backend-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Fetch main branch
        run: git fetch origin main

      - name: Get current backend version
        id: pr_version
        run: |
          PR_VERSION=$(grep '^version' backend/build.gradle \
          | awk -F= '{gsub(/[ '\'',]/,"",$2); print $2}')
          echo "PR_VERSION=$PR_VERSION" >> $GITHUB_OUTPUT

      - name: Get main backend version
        id: main_version
        run: |
          MAIN_VERSION=$(git show origin/main:backend/build.gradle \
          | grep '^version' \
          | awk -F= '{gsub(/[ '\'',]/,"",$2); print $2}')
          echo "MAIN_VERSION=$MAIN_VERSION" >> $GITHUB_OUTPUT

      - name: Check semantic version increment
        run: |
          ./ci/scripts/check-semantic-versioning.sh \
            "${{ steps.pr_version.outputs.PR_VERSION }}" \
            "${{ steps.main_version.outputs.MAIN_VERSION }}"

  build-backend:
    needs: validate-backend-version
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ hashFiles('backend/**.gradle*', 'backend/**/gradle-wrapper.properties') }}

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Build with Gradle
        working-directory: backend
        run: ./gradlew build

      - name: Login to Docker Hub
        if: github.event_name == 'workflow_dispatch'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        if: github.event_name == 'workflow_dispatch'
        uses: docker/setup-buildx-action@v3
        with:
          name: backend-builder

      - name: Build & push Docker image
        if: github.event_name == 'workflow_dispatch'
        working-directory: backend
        run: ./gradlew dockerBuildBackend