name: Build Plot service

on:
  workflow_dispatch:

jobs:
  build-plotservice:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        if: github.event_name == 'workflow_dispatch'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        if: github.event_name == 'workflow_dispatch'
        uses: docker/setup-buildx-action@v3

      - name: Build & push Docker image
        if: github.event_name == 'workflow_dispatch'
        working-directory: backend
        run: ./gradlew dockerBuildPlotService