name: Build Plot service

on:
  workflow_dispatch:

jobs:
  build-plotservice:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-plotservice-${{ hashFiles('backend/**.gradle*', 'backend/**/gradle-wrapper.properties') }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          builder: plotservice-builder
          install: true

      - name: Build & push Docker image
        working-directory: backend
        run: ./gradlew dockerBuildPlotService