name: Build frontend

on:
  workflow_call:
    inputs:
      push_docker:
        required: false
        type: boolean
        default: false
    secrets:
      DOCKERHUB_USERNAME:
        description: 'Docker Hub username for login'
        required: true
      DOCKERHUB_TOKEN:
        description: 'Docker Hub access token for login'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        working-directory: frontend/NoQL
        run: npm ci

      - name: Build frontend
        working-directory: frontend/NoQL
        run: npm run build

  docker:
    needs: build
    if: inputs.push_docker
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        if: inputs.push_docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        if: inputs.push_docker
        uses: docker/setup-buildx-action@v3
        with:
          name: frontend-builder

      - name: Build & push Docker image
        if: inputs.push_docker
        working-directory: frontend/NoQL
        run: npm run dockerPushFrontend