name: Build plot service

on:
  workflow_call:
    inputs:
      push_docker:
        description: 'True if docker images should be built and pushed to Dockerhub'
        required: false
        type: boolean
        default: false
    secrets:
      DOCKERHUB_USERNAME:
        description: 'Docker Hub username for login'
        required: true
      DOCKERHUB_TOKEN:
        description: 'Docker Hub access token for login'
        required: true

jobs:
  docker:
    if: inputs.push_docker
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-plotservice-${{ hashFiles('backend/**.gradle*', 'backend/**/gradle-wrapper.properties') }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          name: plot-service-builder

      - name: Build & push Docker image
        working-directory: backend
        run: ./gradlew dockerBuildPlotService