name: Plot service

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
      - closed
    branches:
      - main
  workflow_dispatch:
    inputs:
      push_docker:
        description: 'Push Docker image'
        required: false
        default: false
        type: boolean

jobs:
  validate:
    if: ${{ github.event_name == 'pull_request' && github.event.action != 'closed'}}
    uses: janbabak/NoQL/.github/workflows/plotservice-validate.yaml@main

  build:
    needs: validate
    if: |
      needs.validate.outputs.plot_service_changed == 'true' ||
      github.event_name == 'workflow_dispatch'
    uses: janbabak/NoQL/.github/workflows/plotservice-build.yaml@main
    with:
      push_docker: ${{ github.event_name == 'workflow_dispatch' && fromJSON(github.event.inputs.push_docker) || false }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}