name: Backend Reusable Test

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print from reusable workflow
        run: echo "Hello from backend reusable workflow!"